*.o
*.lo
.*.swp

.deps/
.libs/

Makefile
Makefile.in

/aclocal.m4
/ar-lib
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing

/libwld.la
/wld.pc
/protocol/wayland-drm-client-protocol.h
/protocol/wayland-drm-protocol.c

